 <div class="wrapper">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
      {{link-to applicationName "index" class="navbar-brand"}}
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav search-lockup">
        <li class="search-group">
          {{input class="search-input" type="text" placeholder="Search for artists or song" valueBinding="controller.searchTerms"}}
          <button {{action "submit"}} class="btn btn-primary" type="button"><i class="glyphicon glyphicon-play"></i></button>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Activity</a></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid" id="main">
    <div class="row-fluid">
      <div class="search-results-wrapper clearfix">
        {{outlet}}
      </div>
    </div>
  </div>
  <footer>
    <p>
     <i class="glyphicon glyphicon-copyright-mark"></i> 2013 Companion to O'Reilly's
     <em>Building Web Apps with Ember.js: Write Ambitious Javascript</em>
     <a href="http://twitter.com/emberbook">@emberbook</a>
    </p>
    <p>
      Authors: Jesse Cravens <a href="http://twitter.com/jdcravens">@jdcravens</a>
      and Thomas Q. Brady <a href="http://twitter.com/thomasqbrady">@thomasqbrady</a>
    </p>
  </footer>
</div>
